<launch>
  
  <arg name="scan_topic" default="/radio/scan"/>
  <arg name="local_planner"   default="dwa"/>
  
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
	<arg name="laser_topic" default="$(arg scan_topic)"/>
  	<arg name="local_planner" default="$(arg local_planner)"/>
  </include>

</launch>
